<!DOCTYPE html>
html(lang="en")
    head
        title!= options.title
    body
        - let albums = options.albums;
        h1 Warning! 18 without permission!
        div.page
            ol
                - for (let i = 0; i < albums.length; i++) 
                    li 
                        a(href=albums[i].url) #{albums[i].title}
                        img(src=albums[i].imgSrc)